@model IEnumerable<_2019_PAPP1.Models.Piloto>

@{
    ViewData["Title"] = "Index";
}

<h1>Classificação Pilotos</h1>

<p>
    <a asp-action="Create">Inserir piloto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Equipa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @if(item.Carro != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Equipa)
                </td>
            }
            else
            {
                <td>------</td>
                <td>------</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                <a asp-action="Adiciona" asp-route-id="@item.Id">Adicionar Pontos</a>
            </td>
        </tr>
}
    </tbody>
</table>
